body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(0, 255, 128);
  color: black;
}

#title {
  text-align: center;
  color: red;
}

#description {
  text-align: center;
}

.radio {
  width: 80px;
  border: 5px solid green;
  padding: 1px;
  margin: 3px;
  background: rgb(0, 255, 64);
}

.radio-box {
  background: rgb(255, 191, 0);
}
